{% extends 'base.html' %}
{% block content %}
    {% if date %}
    <div class="container">
    <div class="row">
            {% for order in date %}
                {% if order.fields.Completed == 'on' %}
          <div class="col-sm-12">
            <div class="card;center">
              <div class="card-body">
                        <h5 class="card-title">姓名: {{ order.fields.Name }}</h5>
                        <h5 class="card-title">日期: {{ order.fields.Dates }}</h5>
                        <h5 class="card-title">時間: {{ order.fields.time }} {{ order.fields.AMPM }}</h5>
                        <p class="card-text">
                            電話: {{ order.fields.Tel1 }}
                            電話2: {{ order.fields.Tel2 }}
                            地區: {{ order.fields.Districts }}
                            地址: {{ order.fields.Address }}
                        </p>
                        <p class="card-text">
                            件數: {{ order.fields.Quan }}
                            價錢: ${{ order.fields.Price }}
                            運費: ${{ order.fields.shipping_fee }}
                            總收費(連運費): ${{ order.fields.total_price}}<br>
                            {% if order.fields.Completed %}<h2 style="text-align: center">已完成</h2>{% endif %}
                        </p>
                  <hr class="fa fa-star">
                  <div class="form-row text-left">
                    <div class="col-6">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-completed-date-{{ order.id }}">修改訂單</button>
                    </div>
                      <div class="col-6">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-completed-date-{{ order.id }}">移除訂單</button>
                      </div>
                  </div>
                  <!--<a href="{% url 'delete' order_id=order.id %}" class="btn btn-danger pull-right">移除訂單</a>-->

              </div>
            </div>
          </div>
                {% include 'modal-edit-completed-date.html' %}
                {% include 'modal-delete-completed-date.html' %}
                {% endif %}
        {%  endfor %}
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}