{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <h3>單日生意額: {{ total_amount }}</h3>
    <h3>上午送貨盤數: {{ am_quan }}</h3>
    <h3>下午送貨盤數: {{ pm_quan }}</h3>
    <h3>上午自取盤數: {{ sp_am_quan }}</h3>
    <h3>下午自取盤數: {{ sp_pm_quan }}</h3>
    <h3>未確定送貨盤數: {{ not_confirm_quan }}</h3>
    <h3>未確定自取盤數: {{ sp_not_confirm_quan }}</h3>
    <div class="row">
            {% for order in date %}
          <div class="col-sm-12">
            <div class="card;center">
              <div class="card-body">
                        <h5 class="card-title">姓名: {{ order.fields.Name }}</h5>
                        <h5 class="card-title">日期: {{ order.fields.Dates }}</h5>
                        <h5 class="card-title">時間: {{ order.fields.time }} {{ order.fields.AMPM }}</h5>
                        <p class="card-text">
                            電話: {{ order.fields.Tel1 }}
                            電話2: {{ order.fields.Tel2 }}
                            地區: {{ order.fields.Districts }}
                            地址: {{ order.fields.Address }}
                        </p>
                        <p class="card-text">
                            件數: {{ order.fields.Quan }}
                            價錢: ${{ order.fields.Price }}
                            運費: ${{ order.fields.shipping_fee }}
                            總收費(連運費): ${{ order.fields.total_price}}
                        </p>
                  <hr class="fa fa-star">
                  <div class="form-row text-left">
                    <div class="col-6">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-edit-{{ order.id }}">修改訂單</button>
                    </div>
                      <div class="col-6">
                        <button class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-{{ order.id }}">移除訂單</button>
                      </div>
                  </div>
                  <!--<a href="{% url 'delete' order_id=order.id %}" class="btn btn-danger pull-right">移除訂單</a>-->

              </div>
            </div>
          </div>
                {% include 'model-edit.html' %}
                {% include 'modal-delete.html' %}
        {%  endfor %}
        </div>
    </div>
    </div>
{% endblock %}